{% extends 'layout.html' %}

{% block main %}
<div class="row">
  <div class="twelve columns center">
    <h1>Full Page Screenshots</h1>
    <p class="gray">
      Type in a url and we'll serve up an image of it.
    </p>
  </div>

  <div class="twelve columns center">
    <form action="">
      <input type="text" class="u-full-width center" id="url" name="url" value="" placeholder="http://example.com" autocomplete="Off">
      <button>
        Fetch Screenshot
      </button>
    </form>
  </div>
</div>
<div class="row">
  <div class="twelve columns center">
    <b id="document_title">&nbsp;</b>
  </div>
</div>
<div class="row">
  <div class="one-third column">
    <div id="display">&nbsp;</div>
  </div>
  <div class="two-thirds column">
    <pre>&nbsp;</pre>
  </div>

</div>

<div class="center">
  <a href="/api" class="gray underline">Check out the API docs for command line usage</a>
</div>

</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("form").submit(function(e){
    $("#document_title").html('<img src="/static/spinner.gif" alt="" />');
    $("button").text("Fetching...")
    e.preventDefault()
    $("#display,pre").html("")

    $.ajax({
      method: "GET",
      url: "/screenshot",
      data: $.param({url: $("#url").val()}),
      success: function(resp){
        var jsonString = JSON.stringify(resp);
        var jsonPretty = JSON.stringify(JSON.parse(jsonString),null,2);
        $("pre").text(jsonPretty)
        $("#display").html($("<img class='preview'/>").attr("src", resp.screenshot.url))
        $("#document_title").text("");
        $("button").text("Fetch Again")
      }
    })
  })
});
</script>
{% endblock %}
